*{
    box-sizing: content-box;
    font-family: fira-sans,
    sans-serif;
    font-weight: 400;
    font-style: normal;

}
body {
        background-image: url(./image/The_Matrix_movies_code-127717.jpg!d);
        background-size: cover;
        background-position-x: center;
        background-attachment: fixed;
}

h1 {
    margin: 20px;
    padding-top: 20px;
    padding-left: 9rem;
}

h2 {
    margin-top: 20px;
    padding-left: 5rem;
}
li>a:hover {
    background-color: rgba(218, 216, 216, 0.589);
}
img {
    width: auto;
    height: 380px;
    border: solid 1px black;
    padding-left: 0;
}
figcaption {
    width: 350px;
}
.nav-menu {
    width: 100%;
    background-color: lightcyan;
    background: transparent;
    position: fixed;
    text-rendering: auto;
    overflow: visible;
    top: 0;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    z-index: 999;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-menu ul li>a {
    display: inline-block;
    color: rgb(46, 0, 0);
    text-align: center;
    padding: 5px 24px;
    text-decoration: none;
}
.web-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;

}
.polaroid {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
}
textarea{
    width: 500px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    font-family: source-code-pro,
    monospace;
    font-weight: 500;
    font-style: normal;
}
.source-box {
    display: flex;
    flex-direction: column;
}
.box-vens {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
strong {
    font-weight: bolder;
}
#box-vens {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#box-aisha {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(./image/green.bläter.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#aisha {
    width: 30vw;
    height: 400px;
}

#aisha-box {
    display: flex;
    justify-content: space-around;
}


#box-serdar div {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-top: 10px;
}
#bild {
    width: 62vw;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.678);
}

li {
    float: left;
    text-decoration: none;
    list-style: none;
}